{% extends 'crud/core/base.html' %} {% block body %}
<div class="container" style="height:100%;">
        <div class="jumbotron" style="margin-top: 2rem;">
                <h1>Bootstrap Tutorial</h1>
                <p>Bootstrap is the most popular HTML, CSS...</p>
        </div>
        <div class="jumbotron">
                <h1>Bootstrap Tutorial</h1>
                <p>Bootstrap is the most popular HTML, CSS...</p>
        </div>
        <div class="jumbotron">
                <h1>Bootstrap Tutorial</h1>
                <p>Bootstrap is the most popular HTML, CSS...</p>
        </div>
</div>
{% endblock %}