{% extends 'crud/base.html' %} {% block body %}
<div class="container">
    <div class="card sub-head-card">
        <div class="card-header">
          <h6> HOME->JAVA->PART 1->BASICS->Variables</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">heading statments</h5>
            <p class="card-text">adding one or two lines of content. or what you will learn here</p>
            <a href="#" style="color: green;font-size: 20px;">Readmore>></a>
        </div> 
        <div class="card-footer text-muted">
            <div class="container" style="margin-left: 0">
           <div class="row">
               <div class="col" style=" padding: 0"><span>Author:-aldfjasjdf</span></div>
             
               <div class="col"  style=" padding: 0"><span>Update:-aldfjasjdf</span></div>
               
               <div class="col" style=" padding: 0"><span>Comments:-aldfjasjdf</span></div>
              
               <div class="col" style=" padding: 0"><span>Ratings:-aldfjasjdf</span></div>

               <div class="col" style=" padding: 0"><span>Contributers:-aldfjasjdf</span></div>
              
           </div>
        </div>
        </div>
    </div>

    <div class="card sub-head-card">
        <div class="card-header">
            Featured
        </div>  
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: green;font-size: 20px;">Readmore>></a>
        </div>
        <div class="card-footer text-muted ">
            2 days ago
        </div>
    </div>

    <div class="card sub-head-card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" style="color: green;font-size: 20px;">Readmore>></a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>


{% endblock %}