<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <!--  {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'crud/css/bootstrap.css' %}"/>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background: #ccc;
            font-family: "Open Sans", Arial, sans-serif;
        }

        .fakeimg {
            height: 200px;
            background: #f7f7f7;
            margin: 0 auto;
        }

        .jumbotron {
            padding: 0.7rem 1rem;

        }

        .container-point {
            background-color: #fff;
            margin: 0 13rem;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: darkolivegreen;
        }


        /*==================================================
 * Effect 1
 * ===============================================*/

        .effect1 {
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
        }

        .nav-item {
            font-size: 14px;
            margin: 0 2px;
        }

        .tut-heads {
            color: #fff;
            background-color: #007bff;
            display: list-item;
            text-align: -webkit-match-parent;
            font-size: 15px;
            margin: 2px 2px;
            padding: 8px 2px;
        }

        .nav-item-side {
            color: gray;
            background-color: #fff;
            margin: 2px 4px;
            padding: 0 4px;
            font-size: 13px;

        }

        .nav-link-side {
            color: #000;
            background-color: #ccc;
            display: block;
            padding: .4rem 1rem;
        }
    </style>
</head>

<body>
    <div class="container-point">
        <div class="jumbotron text-left" style="margin-bottom:0">
            <h6>HERE COMES THE LOGO</h6>
            <p>Here is the vision statment of site</p>
        </div>

        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:lightblue">
            <!-- <a class="navbar-brand" href="#">Home</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Java</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Html</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Css</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Javascript</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SpringMVC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Django</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hibernate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mysql</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">C</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">C++</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Angular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">REST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">JSON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Puzzals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Design Pattern</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Data Structure</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div class="col-md-3"></div>
    <div class="col-md-6 well">
        <h3 class="text-primary">Python - Simple CRUD With Django Framework</h3>
        <hr style="border-top:1px dotted #000;"/>
        {% block body %}
        {% endblock %}
    </div> -->

        <div class="container-point-1" style="margin-top:30px">
            <div class="row" style="margin:1px 2px">
                <div class="col-sm-3" style="background-color:#eee">
                    <h5>Basic Grounding Topics</h5>
                    <h6 class="tut-heads">Some Headings</h6>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Active</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Disabled</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Active</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Disabled</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Active</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Disabled</a>
                        </li>
                    </ul>

                    <h6 class="tut-heads">Some Headings</h6>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Active</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Disabled</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Active</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                        <li class="nav-item-side">
                            <a class="nav-link nav-link-side" href="#">Link</a>
                        </li>
                      
                    </ul>
                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-9">
                    <div class="fakeimg box effect1">
                        <h5>Study guidlines...</h5>
                        <p>Some text..</p>
                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco.
                        </p>
                        <br>

                    </div>

                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco.
                    </p>
                    <br>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco.
                    </p>
                    <br>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco.
                    </p>
                    <br>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco.
                    </p>
                    <br>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco.
                    </p>
                    <br>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco.
                    </p>
                    <br>
                </div>
            </div>
        </div>

        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>Footer</p>
        </div>
    </div>
</body>

</html>

