{% extends 'crud/base.html' %} {% block body %}
<div class="row" style="padding-top: 2rem;">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10 jumbotron jumbotron-sub-head">
        <div class="row jumbotron jumbotron-sub-head" style="margin-top: 2rem;">
                <div class="col-sm-1"></div>
            <div class="col-sm-2">
                Sub header

            </div>
           
            <div class="col-sm-2 ">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
        </div>

        <div class="row jumbotron jumbotron-sub-head">
                <div class="col-sm-1"></div>
            <div class="col-sm-2">
                Sub header

            </div>
           
            <div class="col-sm-2 ">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
        </div>

        <div class="row jumbotron jumbotron-sub-head">
                <div class="col-sm-1"></div>
            <div class="col-sm-2">
                Sub header

            </div>
           
            <div class="col-sm-2 ">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                    <li>1. Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>

    
    

    <div class="col-sm-1">

    </div>

</div>














{% endblock %}