<div class="container center-subs h-100" style="margin-top: 2rem;border:1px solid green; background-color: #e9ecef;">


    <div class="row jumbotron jumbotron-sub-head" style="margin-top: 2rem;">
        <div class="col-sm tex-cent-both">
            Sub header

        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>
    </div>

    <div class="row jumbotron jumbotron-sub-head" style="margin-top: 2rem;">
        <div class="col-sm tex-cent-both">
            Sub header

        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>
    </div>
    <div class="row jumbotron jumbotron-sub-head" style="margin-top: 2rem;">
        <div class="col-sm tex-cent-both">
            Sub header

        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>

        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>
        <div class="col-sm">
            <ul>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
                <li>1. Bootstrap</li>
            </ul>
        </div>
    </div>


</div>